.main_title {
    /* margin-top: 119px; */
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

/* .testtt {
    margin-top: 119px;
} */

.sub_title {
    /* margin-top: 119px; */
    font-family: "Comic Neue", cursive;
    font-weight: 500;
    font-style: normal;
}

/* .tasklist {
    width: 72%;
} */

